$map--color-global: (
  dc-black: #000000,
  dc-white: #F4F4F4,
  dc-red: #EF0053,
  dc-yellow: #FFD703,
  dc-green: #00FF8B,
  dc-blue: #00E0FF,
  dc-purple: #9E00FF
);

$map--color-instance: (
  instance: (
    key: value
  ),
  instance: (
    key: value
  )
);
